/*
Sivumallin CSS-tyylit kehitysvaiheessa
Ei pidä ottaa koodausohjeena
*/

* {
padding:0;
margin:0;
font-family:helvetica,arial;
font-size:13px;  
}

.logo {
margin:7px;  
}

.header {
background-color:#149ecb;  
width:100%;
height:48px;  
}

.raidat {
background-image:url("../img/menupattern_3x6px.png");
width:100%;
height:6px;
}

.navi {
background-color:#06526b;
    width:100%;
height:36px;    
}